.grid-container {
  width: 100%;
  height: 400px;
  display: flex;
  position: relative;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}
.grid-container1 {
  width: 100%;
  height: 100%;
  margin: var(--dl-space-space-halfunit);
  display: flex;
  padding: var(--dl-space-space-unit);
  z-index: 200;
  align-items: center;
  justify-content: center;
}
.grid-container2 {
  flex: 0 0 auto;
  width: 341px;
  height: 352px;
  padding: 1%;
  margin: var(--dl-space-space-unit);
  display: flex;
  align-items: center;
  border-color: #2c2c2c;
  border-width: 1px;
  border-radius: var(--dl-radius-radius-radius8);
  flex-direction: column;
  justify-content: flex-start;
  background-color: rgba(16, 16, 16, 0.15);
}
.grid-container3 {
  flex: 0 0 auto;
  width: 728px;
  height: 352px;
  padding: 1%;
  margin: var(--dl-space-space-halfunit);
  display: flex;
  align-self: flex-start;
  align-items: center;
  border-color: #151515;
  border-width: 1px;
  border-radius: var(--dl-radius-radius-radius8);
  flex-direction: column;
  justify-content: flex-start;
  background-color: rgba(45, 45, 45, 0.28);
}

@media(max-width: 991px) {
  .grid-container1 {
    width: 100%;
  }
  .grid-container2 {
    width: 275px;
  }
  .grid-container3 {
    width: 625px;
  }
}
@media(max-width: 767px) {
  .grid-container1 {
    width: 100%;
  }
  .grid-container2 {
    width: 189px;
  }
  .grid-container3 {
    width: 467px;
  }
}
@media(max-width: 479px) {
  .grid-container {
    height: 100%;
  }
  .grid-container1 {
    height: 1047px;
    flex-direction: column;
  }
  .grid-container2 {
    width: 100%;
    height: 416px;
    margin: var(--dl-space-space-unit);
    background-color: rgba(0, 0, 0, 0.28);
  }
  .grid-container3 {
    width: 100%;
    height: 301px;
    margin: var(--dl-space-space-halfunit);
    background-color: rgba(0, 0, 0, 0.17);
  }
}
.spinner {
  width: 32px;
  height: 32px;
  border: 5px solid #f3f3f3;
  border-top: 5px solid #555;
  border-radius: 50%;
  animation: spin 1s linear infinite;
  margin: 0 auto;
}
@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
.spinner {
  width: 32px;
  height: 32px;
  border: 5px solid #f3f3f3;
  border-top: 5px solid #555;
  border-radius: 50%;
  animation: spin 1s linear infinite;
  margin: 0 auto;
}
@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
.tabs {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-top: 16px;
  margin-bottom: 50px;
  padding: 10px;
}

.tab {
  padding: 16px;
  font-size: 16px;
  font-weight: 600;
  color: initial;
  cursor: pointer;
  transition: color 0.1s ease-in-out;
}

.tab:hover {
  color: rgba(94, 94, 94, 0.8);
}

.activeTab {
  color: rgba(255, 255, 255, 1);
  border-bottom: 2px solid #0062a8;
  color: #005897;
}

.tabContent {
  display: none;
  opacity: 0;
  transition: all 0.1s linear;
  justify-content: center;
  margin-bottom: 5%;
}

.activeTabContent {
  display: flex;
  flex-direction: row;
  opacity: 1;
  justify-content: center;
  margin-bottom: 5%;
}
.tokenGrid {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 1%;
  width: 100%;
  max-width: 95vw;
  flex-wrap: wrap;
  margin: 16px 0;
}
.explain {
  font-size: 1.125rem;
}

.divider {
  width: 20%;
  border-color: grey;
  opacity: 0.25;
}

.smallDivider {
  width: 25%;
  border-color: grey;
  margin-top: 64px;
  opacity: 0.25;
}

.nftBoxGrid {
  width: auto;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 5px;
  margin-top: 28px;
  flex-wrap: wrap;
}

.nftBox {
  border-radius: 16px;
  width: 300px;
  min-height: 200px;
  padding: 16px;
  margin-bottom: 2%;
  justify-content: center;
  align-items: center;
}

.optionSelectBox {
  border-radius: 16px;
  border: 1px solid #ccc;
  width: 48%;
  min-height: 200px;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding-left: 12px;
  padding-right: 12px;
  cursor: pointer;
  margin-top: 2%;
  margin-bottom: 2%;
}

.selectBoxTitle {
  font-size: 1.75rem;
  margin-top: 8px;
  margin-bottom: 8px;
  font-family: courier;
  border: transparent;
}

.selectBoxDescription {
  color: rgba(255, 255, 255, 0.9);
  margin-top: 0px;
  font-family: courier;
}

/* Between 1200 and 800 */
@media only screen and (min-width: 800px) and (max-width: 1200px) {
  .nftBox {
    width: 49%;
    margin-top: 16px;
  }
}

/* beneath 800
  */
@media only screen and (max-width: 800px) {
  .nftBoxGrid {
    justify-content: center;
  }
  .nftBox {
    width: 90%;
    margin-top: 16px;
  }
  .optionSelectBox {
    width: 90%;
    margin-top: 16px;
  }
}

.tokenGrid {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 1%;
  color: white;
  max-width: 95vw;
  flex-wrap: wrap;
  margin: 16px 0;
}

.tokenItem {
  width: 35%;
  height: 120px;
  border-radius: 16px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border: 1px solid rgba(255, 255, 255, 0.4);
  gap: 16px;
}

.tokenLabel {
  margin-top: 0px;
  margin-bottom: 0px;
  font-weight: 400;
  color: rgba(255, 255, 255, 0.7);
  font-family: "Courier New", Courier, monospace;
}

/* Second tokenLabel item */

.tokenValue {
  font-size: 16px;
  margin-top: 8px;
  margin-bottom: 0px;
  font-weight: 500;
  font-family: "Courier New", Courier, monospace;
}

/* On Mobile, make tokenGrid 100% width */
@media only screen and (max-width: 850px) {
  .tokenItem {
    width: 90%;
    margin-top: 12px;
  }
}

/* Screen less than 630, then hide .center */
@media only screen and (max-width: 630px) {
  .center {
    display: none;
  }
}

.spacerTop {
  margin-top: 16px;
}

.bigSpacerTop {
  margin-top: 32px;
}

.spacerBottom {
  margin-bottom: 16px;
}

.detailPageHr {
  margin-top: 0px;
  margin-bottom: 32px;
}

.nftMedia {
  width: 50%;
  max-height: 300px;
  border-radius: 15px;
}